:root {
	--rojo: #E50914;
	--fondo: #9c9c9c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 30px 0;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--rojo);
	font-size: 40px;
}

header nav a {
	color: #AAA;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: #FFF;
}

body, html {
    overflow-x: hidden;
} 
#navbar{
    z-index: 1;
    filter: brightness(150%);
}

.card-border{
    border: solid 3px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}
.card-border:hover{
    transform: scale(1.15);
    
}
.stl{
    filter: brightness(80%);
}

.a{
    text-decoration: none;
}
.nav-link:hover{
    font-weight: 600;
    border-bottom: solid 2px white;
}

/* ---- ----- ----- carrupag2 Principal ----- ----- ----- */
.pelicula-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/backdrop.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.carrupag2-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.carrupag2-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.carrupag2-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.carrupag2-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.carrupag2-principal .boton:hover {
	background: #fff;
	color: #000;
}

.carrupag2-principal .boton i {
	margin-right: 1.25em;
}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #fff;
	font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
	background: #fff;
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
	background: red;
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.carrupag2s-recomendadas {
	margin-bottom: 70px;
}

.carrupag2s-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.carrupag2s-recomendadas .contenedor-principal .flecha-izquierda,
.carrupag2s-recomendadas .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.carrupag2s-recomendadas .contenedor-principal .flecha-izquierda:hover,
.carrupag2s-recomendadas .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.carrupag2s-recomendadas .contenedor-principal .flecha-izquierda {
	left: 0;
}

.carrupag2s-recomendadas .contenedor-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.carrupag2s-recomendadas .contenedor-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.carrupag2s-recomendadas .contenedor-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
}

.carrupag2s-recomendadas .contenedor-carousel .carousel .carrupag2 {
	min-width: 20%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.carrupag2s-recomendadas .contenedor-carousel .carousel .carrupag2.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.carrupag2s-recomendadas .contenedor-carousel .carousel .carrupag2 img {
	width: 100%;
	vertical-align: top;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.carrupag2-principal {
		font-size: 14px;
	}

	.carrupag2-principal .descripcion {
		max-width: 100%;
	}

	.carrupag2s-recomendadas .contenedor-carousel {
		overflow: visible;
	}

	.carrupag2s-recomendadas .contenedor-carousel .carousel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.carrupag2s-recomendadas .indicadores,
	.carrupag2s-recomendadas .flecha-izquierda,
	.carrupag2s-recomendadas .flecha-derecha {
		display: none;
	}
}

.map-responsive {
    overflow:hidden;
    padding-bottom:600px; /*Reduce este valor si el mapa fuera muy alto, por ejemplo 250px, puedes usar porcentajes, 50%*/
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
#lugarturistico{
	padding-top: 100px;
}